# Segmenting and Clustering Neighborhoods in Toronto

In [3]:
import pandas as pd

# Question 2

In order to utilize the Foursquare location data, we need to get the latitude and the longitude coordinates of each neighborhood.

### Use the Geocoder package or the csv file to create the dataframe

While saving to csv in part 1, remember to set index=False, or else after importing here the dataframe will have an extra index column 'Unnamed:0'.

Use set_index to set Postalcode column as index, if the dataframes are combined using join then they require common index column. Or it throws error ValueError: columns overlap but no suffix specified: Index(['PostalCode'], dtype='object')

Or it can be done while using join with argument on. Geospatial dataframe still needs to be set_index() in this case.

In [31]:
df = pd.read_csv('Part_1.csv')     # importing csv saved in question 1
df.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

Use either the geocode library to get the coordinates of places with PostalCodes or use the provided csv containing the geospatial data. The csv has the postal code column name 'Postal Code' while the dataframe from part 1 has 'PostalCode'. This will cause problem while usinf join to combine the dataframes. So rename any one so that both have same column names.

In [32]:
# importing geospatial coordinates data.use set_index() for join()
geo_df = pd.read_csv('Geospatial_Coordinates.csv') 
geo_df.rename(columns={'Postal Code':'PostalCode'},inplace=True) # replace the column name to make it match.
geo_df.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [33]:
df = df.join(geo_df.set_index('PostalCode'),on='PostalCode')# use on argument to specify the column to join on index
df.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [34]:
df.to_csv('Part_2.csv',index=False)